@{
    Layout = "_Layout";
}
@* Start Body *@
<section>
    <center>
        <div class="mt-2 bg-warning p-5 w-75">
            <h1>Welcome To Privacy Page</h1>
            <p>mr Sekiro</p>
        </div>
    </center>
</section>
@* End Body *@